@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body{
    font-family: 'DM Sans', sans-serif;
    position: absolute;
}

.daticos {
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    width: 400px;
    height: 350px;
    background-color: #d6c8ec;
    margin-top: 10mm;
    border-radius: 10px;
    margin-left: 10mm;
    color: rgb(97, 67, 114);
    
}

.daticos *{
    margin-left: 10mm;
    color: rgb(97, 67, 114);
}

.bb {
    margin-left: 5mm;
    margin-top: 5mm;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; 
}

.aceptarBtn{
    width: 119px;
    height: 47px;
    background: #FFB900;
    color: #45178f;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(44, 18, 88, 0.4);
}

.declinarBtn{
    width: 119px;
    height: 47px;
    background: #AFAFAF;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(44, 18, 88, 0.4);
}

#ilustracionDatos{
    position: absolute;
    width: 420px;
    height: 420px;
    right: 50px;
    top: 300px;
}

#fondoDatos{
    position: absolute;
    
}

#logoBlanco{
    position: absolute;
    width: 35mm;
    height: 14mm;
    left: 30px;
    top: 30px;
}


