#logoBlanco{
  position: absolute;
  top: 20px;
  left: 20px;
}

#fondoHome{
position: absolute;
left: 50.4px;
top: 51.76px;
}

#logOut {
position: absolute;
top: 20px;
right: 20px;
font-family: 'DM Sans', sans-serif;
font-weight: bold;
color: #5522AA;
width: 100px;
height: 44px;
background: #FFB900;
box-shadow: 4px 4px 10px rgba(44, 18, 88, 0.4);
border-radius: 5px;
}

